<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ULTIBET Live Betting</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link href="styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
    <style type="text/css">
      ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    black;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    black;
      opacity:  1;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    black;
      opacity:  1;
      }
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color:    black;
      }
      ::-ms-input-placeholder { /* Microsoft Edge */
      color:    black;
      }

      ::placeholder { /* Most modern browsers support this now. */
      color:    black;
      }

      .hoverable:hover {
        background-color: #fcffc1;
      }

      button {
        background-color:#5bba5c;
      }

      button:hover {
        background-color:#68d869;
      }

      option {
        font-family: 'Jura';
      }

      h6 {
        font-size:19pt;
      }

      /* The Modal (background) */
      .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 2; /* Sit on top */
          padding-top: 200px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }

      /* Modal Content */
      .modal-content2 {
          background-color: #fefefe;
          margin: auto;
          padding: 20px;
          border: 1px solid #888;
          width: 48%;
      }

      /* The Close Button */
      .close {
          color: #aaaaaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
      }

      .close:hover,
      .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
      }

      .no-underline {
        text-decoration: none;
      }

      .no-underline:hover {
        text-decoration: none;
      }

      .hover_underline {
        text-decoration: none;
      }
      .hover_underline:hover {
        text-decoration: underline;
        color:black;
      }

      .no_hover:hover {
        text-decoration: none;
      }
    </style>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="padding-top:0;background-color:#1a1c1a;font-family:'Jura';">
    <div id="navbar2" style="width:100%;font-size:20pt;padding-left:100px;padding-bottom:20px;padding-top:30px;"> <a href="/" class="no-underline"><img src="/logo4.png" width="40" height="40" /> <font color="#5bba5c">ULTI</font><font color="white">BET</font></a> <span id="navbar_right" style="float:right;margin-right:80px;color:white;font-size:17pt;margin-top:4px;"><a href="/add-money" class="no_hover" target="_blank" style="color:white;"><span style="padding-right:35px;">Add Money</span></a><a href="/how-to-play" class="no_hover" target="_blank" style="color:white;"><span style="padding-right:35px;">How to Play</span></a><a href="/register" class="no_hover"><font color="#5bba5c">Register</font></a></span></div>
    <script>
      function isPhone() {
          return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)
      }

      if (!isPhone())
      {
        document.write('<div id="navbar" style="width:100%;padding-bottom:25px;padding-top:25px;background-color: #5bba5c;font-size:23pt;font-weight:bold;position:sticky;position: -webkit-sticky;top: 0;z-index:1;min-height:140px;" align="center">');
        document.write('<a href="/"><img src="/logo3.png" width="100" height="100" style="left:120px;position:absolute;" /></a>');
      }
      else
      {
        document.write('<div id="navbar" style="width:100%;padding-bottom:25px;padding-top:25px;background-color: #5bba5c;font-size:23pt;font-weight:bold;z-index:1;min-height:140px;" align="center">');
      }
      </script>
      <p style="margin:0;padding:0;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="hometeam"></span> <span id="vs" style="display:none;">vs.</span> <span id="awayteam"></span></p><p style="margin:0;padding:0;"><span id="matchscore" style="font-size:16pt;"></span></p><p style="font-size:10pt;margin:0;padding:0;" id="matchminute">Waiting for login...</p></div>
      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

    <script>
      var latestAmount = 0 
      var map_amounts = [
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0
      ]
      var map_events = [
        "Nothing",
        "Attempt missed",
        "Goal",
        "Foul",
        "Corner",
        "Penalty",
        "Offside",
        "Substitution",
        "Yellow card",
        "Red card",
        "Hand ball"
        ];
        var prepositions = [
          "Nothing",
          "by",
          "by",
          "by",
          "for",
          "against",
          "by",
          "by",
          "for",
          "for",
          "by"
        ];

        var socket = io();
        var username = ""
        var p_balances = {}
        var server = "<%= server %>"
        var matchid = "<%= matchid %>"
        var myBalance = parseFloat("<%= coinbase %>")
        var hasDownvoted = []

      function showbetoverview (eventid, amount) {
          $("#betoverviewname").empty()
          $("#betoverviewplayers").empty()
          $("#betoverviewamount").empty()
          socket.emit('ask bet overview', eventid, server, matchid)
          document.getElementById("betoverview").style.display = "block"
          $("#betoverviewname").html("Next "+map_events[eventid])

      }

        function modalf(eventid, amount) {
            modal.style.display = "block";
            $("#beteventaccept").val(eventid)
            $("#eventid2").val(eventid)
            $("#acceptamount").val(0)
            $("#beteventaccept").html("Next "+map_events[eventid].toLowerCase()+" "+prepositions[eventid])
        }

        function downvote(e, eventid) {
          socket.emit('send downvote bet', eventid, server, username)
          hasDownvoted[eventid] = true
          if (!e) var e = window.event;
          e.cancelBubble = true;
          if (e.stopPropagation) e.stopPropagation();
        }

      $(function () {

        if(isPhone())
        {
          $('#maintable').attr("cellspacing", 20)
          $("#navbar2").css("padding-left", "20px")
          $("#navbar_right").css("margin-right", "10px")
        }

        var modal = document.getElementById('modal');
        var span = document.getElementsByClassName("close")[0];
        var span2 = document.getElementsByClassName("close")[1];
        
        // retrieve existing active bets
        socket.emit('lookup active bets', server)

        socket.on('receive my balance', function(_balance) {
          myBalance = parseFloat(_balance)
        })

        socket.on('return lookup active bets', function(bets){
          bets.forEach(function (el) {
            $('#betevent'+el.eventid).prop('disabled', true);
            if ($("#active"+el.eventid).length == 0) {
              if (el.amount.indexOf("," != -1))
              {
                el.amount = el.amount[0]
              }
              $("#activebets").append('<li class="list-group-item d-flex justify-content-between align-items-center hoverable" onclick="showbetoverview('+el.eventid+','+el.amount+')" id="active'+el.eventid+'" style="padding-top:2px;padding-bottom:2px;padding-right:5px;color:black;border-radius:0;cursor:pointer;">Next '+map_events[el.eventid].toLowerCase()+'<right><span class="badge badge-primary badge-pill" style="margin:0;font-size:8pt;padding-top:2px;margin-bottom:25%;border-radius:0;height:100%;font-family:sans-serif;">$'+el.amount+'</span>&nbsp;&nbsp;<span title="Vote to remove this bet" id="downvotes'+el.eventid+'" onclick="downvote(event,'+el.eventid+')" style="padding-top:6px;font-size:9pt;color:red;cursor:pointer;" class="hover_underline">&#x2715;</span></right></li>');
            }
          })
        })

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        span2.onclick = function() {
            document.getElementById("betoverview").style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal || event.target == document.getElementById("betoverview")) {
                modal.style.display = "none";
                document.getElementById("betoverview").style.display = "none";
            }
        }

        function updateScroll(){
          var d = $('#chatfield');
          d.scrollTop(d.prop("scrollHeight"));
        }

        socket.on('receive pending bet', function(eventid, amount, i_username) {
          if (i_username != username)
          {
            $('#pendingbets').append('<li class="list-group-item d-flex justify-content-between align-items-center hoverable" onclick="modalf('+eventid+','+amount+')" id="pending'+eventid+'" style="padding-top:2px;padding-bottom:2px;padding-right:5px;color:black;border-radius:0;cursor:pointer;">Next '+map_events[eventid].toLowerCase()+'<right><span id="pendingtime'+eventid+'" style="padding-top:2px;font-size:9pt;color:red;"></span> <span class="badge badge-danger badge-pill" id="pendingamount'+eventid+'" style="margin:0;font-size:8pt;padding-top:2px;margin-bottom:25%;border-radius:0;height:100%;font-family:sans-serif;">&nbsp;&#164;&nbsp;</span></right></li>');
            $('#betevent'+eventid).prop('disabled', true);
          }
        });

        socket.on('receive downvote bet', function(eventid, downvotes, outof) {
          $("#downvotes"+eventid).empty().html(downvotes+"/"+outof)
          if (!hasDownvoted[eventid])
            $("#downvotes"+eventid).append(" &#x2715;")
          else
            $("#downvotes"+eventid).removeAttr('onclick').removeClass("hover_underline").css({'cursor': 'default'});
        })

        socket.on('receive bet overview', function(bets){
          bets.forEach(function (bet) {
            $("#betoverviewplayers").append('<b>'+bet.username+'</b>: '+bet.wager+' for $'+bet.amount+'<br>');
          })
        })

        socket.on('receive address', function(address){
          $("#your_address").html('<font style="font-size:9pt;">'+username+'</font><br>'+address);
        })

        socket.on('receive active bet', function(eventid, amount){
          $('#betevent'+eventid).prop('disabled', true);
          $("#activebets").append('<li class="list-group-item d-flex justify-content-between align-items-center hoverable" onclick="showbetoverview('+eventid+','+map_amounts[eventid]+')" id="active'+eventid+'" style="padding-top:2px;padding-bottom:2px;padding-right:5px;color:black;border-radius:0;cursor:pointer;">Next '+map_events[eventid].toLowerCase()+'<right><span class="badge badge-primary badge-pill" style="margin:0;font-size:8pt;padding-top:2px;margin-bottom:25%;border-radius:0;height:100%;font-family:sans-serif;">$'+map_amounts[eventid]+'</span>&nbsp;&nbsp;<span title="Vote to remove this bet" id="downvotes'+eventid+'" style="padding-top:6px;font-size:9pt;color:red;cursor:pointer;" onclick="downvote(event,'+eventid+')" class="hover_underline">&#x2715;</span></right></li>');
       })

        socket.on('delete pending bet', function(eventid){
          $("#pending"+eventid).remove();
          $('#betevent'+eventid).prop('disabled', false);
        })

        socket.on('update client balances', function(eventid, _username, amount){
          var new_amount = parseFloat(amount) + parseFloat($('#balance'+_username).html().replace(/\$/g, ""))
          if (username == _username)
            myBalance = new_amount
          $('#balance'+_username).html('$'+parseFloat(new_amount))
        })

        socket.on('delete pending bet timer', function(eventid, _username, amount){
          var new_amount = parseFloat(amount) + parseFloat($('#balance'+_username).html().replace(/\$/g, ""))
          if (username == _username)
            myBalance = new_amount
          $('#balance'+_username).html('$'+parseFloat(new_amount))
          $("#pending"+eventid).remove();
          $('#betevent'+eventid).prop('disabled', false);
        })

        socket.on('receive live commentary', function(minute, eventid, team){
          $("#livecommentaryheader").remove();
          $("#livecommentarytable").prepend('<tr><td style="width:15%;">'+minute+'\'</td><td style="width:85%;">'+map_events[eventid]+' '+prepositions[eventid]+' '+team+'</td></tr>');          
          $("#livecommentarytable").prepend('<tr id="livecommentaryheader"><td></td><td><h6>Live commentary</h6><br></td></tr>');          
        })

        socket.on('player disconnected', function(_username){
            $("#"+_username).remove()
        })

        socket.on('delete active bet', function(eventid){
          hasDownvoted[eventid] = false
          $("#active"+eventid).remove();
          $('#betevent'+eventid).prop('disabled', false);
        })

        socket.on('receive new chat', function(username, message){
          $("#chatfield").append('<p style="color:white;font-size:10pt;margin:0;padding:0;"><font color="#5bba5c">'+username+':</font> '+message+'</p>');
          updateScroll()
        })

        socket.on('receive login user', function(i_username, _balance){
          if($("#"+i_username).length == 0)
          {
            $("#balances_list").append('<li class="list-group-item d-flex justify-content-between align-items-center" id="'+i_username+'" style="padding-top:2px;padding-bottom:2px;padding-right:5px;color:black;border-radius:0;">'+i_username+'<right><span class="badge badge-success badge-pill" id="balance'+i_username+'" style="margin:0;font-size:8pt;padding-top:2px;margin-bottom:25%;border-radius:0;height:100%;font-family:sans-serif;">$'+parseFloat(_balance)+'</span></right></li>')
          }
        })

        socket.on('receive balances', function(balance, player, oracle) {
          if (player == username)
          {
            if (oracle)
            {
              var balanceDiff = parseFloat(balance) - parseFloat(myBalance)
              if (balanceDiff != 0)
                alert("Congrats! You received $"+Math.abs(balanceDiff))
            }
            myBalance = balance
          }

            if ($("#" + player).length == 0)
            {
              $("#balances_list").append('<li class="list-group-item d-flex justify-content-between align-items-center" id="'+player+'" style="padding-top:2px;padding-bottom:2px;padding-right:5px;color:black;border-radius:0;">'+player+'<right><span class="badge badge-success badge-pill" id="balance'+player+'" style="margin:0;font-size:8pt;padding-top:2px;margin-bottom:25%;border-radius:0;height:100%;font-family:sans-serif;">$'+parseFloat(balance)+'</span></right></li>');
            }
            else
            {
              $("#balance"+player).html('$'+parseFloat(balance))
            }
          
        })

        socket.on('receive timer', function(minute, score, home, away, homeflag, awayflag) {
          $('#matchminute').html(minute+"'")
          $('#matchscore').html(score)
          homeflag ? $('#hometeam').html('<img src="'+homeflag+'" width="55" height="55" />&nbsp;&nbsp;&nbsp;'+home) : $('#hometeam').html(home)
          awayflag ? $('#awayteam').html(away+'&nbsp;&nbsp;&nbsp;<img src="'+awayflag+'" width="55" height="55" />') : $('#awayteam').html(away)
          $("#vs").show()
          $('#hometeamoption').val(home)
          $('#hometeamoption').html(home)
          $('#awayteamoption').val(away)
          $('#awayteamoption').html(away)
          $('#hometeamoption2').val(home)
          $('#hometeamoption2').html(home)
          $('#awayteamoption2').val(away)
          $('#awayteamoption2').html(away)
        })

        socket.on('tick', function(eventid, timeRemaining) {
          $("#pendingtime"+eventid).html(timeRemaining)
        })

        socket.on('success room password', function() {
          $("#passwordprompt").hide()
        })

        socket.on('receive payout history', function(payoutHistory) {
          $("#payouthistory").empty()
          payoutHistory.forEach(function(el) {
            var output = ""
            var betLosers = []
            var betWinners = "<b>Winners:</b><br>"
            output += map_events[el.event]+" "+prepositions[el.event]+" "+el.team+" at "+el.minute+"'<br>"
            var betPayouts = "<b>Bet payouts:</b><br>"
            for (var i = 0, n = el.amount.length; i < n; i++)
            {
              if (parseFloat(el.amount[i]) != 0) // don't display empty returns
              {
                if (el.from[i] == el.to[i])
                  betPayouts += el.from[i]+" got back $"+el.amount[i]+"<br>"
                else
                {
                  betPayouts += el.from[i]+" paid "+el.to[i]+" $"+el.amount[i]+"<br>"
                  betLosers.push(el.from[i]) // store person who lost bet
                }
              }
            }
            el.from.forEach(function(d) {
              if (betLosers.indexOf(d) == -1)
                betWinners += d+"<br>"
            })
            output += betWinners
            output += betPayouts
            output += "Hash: 0x..."+el.hash.slice(-12)+"<br><hr style='border-color:white;width:100%;'>"
            $("#payouthistory").prepend(output) // latest payout entry is first
          })
        })
        $('#login_form').submit(function(){
          username = $("#login").val()
          if ($("#"+username).length != 0)
          {
            alert('This user is already logged in on this server.')
            return false
          }
          // try to log me in
          socket.emit('ask login', username, server, $("#p_login").val())
          return false;
        })

        $('#passwordprompt_form').submit(function(){
          socket.emit('ask room password', $("#room_password").val(), server)
          return false
        })

        $('#upload_keys').submit(function(){

          var keysFile = document.getElementById("private_keys").files[0];

          var fileReader = new FileReader();
          fileReader.onload = function(fileLoadedEvent){
              var loadedKeys = fileLoadedEvent.target.result
              socket.emit('ask upload keys', loadedKeys, $("#p_login2").val(), server)
          };

          fileReader.readAsText(keysFile, "UTF-8")

          return false;
        })

        socket.on('receive server displayname', function(displayname) {
          $("#login_form").html(displayname)
        })

        socket.on('login approved', function(alreadyLoggedIn, _username = false) {
          if (_username)
            username = _username

          // update my balance + check server pw
          socket.emit('ask my balance', username, server)

          if (!isPhone())
          {
            if (server.indexOf("__") == -1)
              $("#login_form").html(server)
            else
              socket.emit('ask server displayname', server)
          }
          else
          {
            $("#login_form").empty()
          }
          $('#upload_keys').hide()
          $("#login_form").css("font-size", "30pt")
          $("#playingarea").show()
          $("#matchminute").html("Loading...")
          if (isPhone())
          {
            $('#navbar').hide();
          }
          socket.emit('login user', username, server, alreadyLoggedIn)
        })

        socket.on('error message', function(message, type) {
          alert(message)
          if (type == "login")
          {
            location.reload()
          }
        })

        socket.on('server password prompt', function () {
          $("#passwordprompt").show()
        })

        $('#chatform').submit(function(){
          socket.emit('new chat', username, server, $("#chatinput").val())
          $("#chatinput").val("")
          return false;
        });

        $('#placebet').submit(function(){
          try {
          if ($('#betevent'+$('#eventid').val()).is('[disabled]'))
          {
            alert("This bet is already pending. You can accept it by clicking on it.")
            return false
          }
          if ($('#amount').val() < 1)
          {
            alert("You can't place that bet.")
            return false
          }
          if ($('#wager').val() == "Loading...")
          {
            alert("You can't place a bet yet.")
            return false
          }
          if ($('#amount').val() > myBalance)
          {
            alert("You don't have enough money to place this bet.")
            return false
          }
          if ($("#pending" + $('#eventid').val()).length == 0)
          {
            socket.emit('place pending bet', $('#eventid').val(), $('#wager').val(), username, server, matchid, $('#amount').val(), false);
            $('#pendingbets').append('<li class="list-group-item d-flex justify-content-between align-items-center" id="pending'+$('#eventid').val()+'" style="padding-top:2px;padding-bottom:2px;padding-right:5px;color:black;border-radius:0;">Next '+map_events[$('#eventid').val()].toLowerCase()+'<right><span id="pendingtime'+$('#eventid').val()+'" style="padding-top:2px;font-size:9pt;color:red;"></span> <span id="pendingamount'+$('#eventid').val()+'" class="badge badge-primary badge-pill" style="margin:0;font-size:8pt;padding-top:2px;margin-bottom:25%;border-radius:0;height:100%;font-family:sans-serif;">$'+$('#amount').val()+'</span></right></li>');
          }
          else
          {
            socket.emit('place pending bet', $('#eventid').val(), $('#wager').val(), username, server, matchid, $('#amount').val(), true);
            $("#pendingamount"+$('#eventid').val()).removeClass("badge-danger").addClass("badge-primary");
          }
          // remove from local options
          map_amounts[$('#eventid').val()] = $('#amount').val()
          $('#betevent'+$('#eventid').val()).prop('disabled', true);
          return false;
          } catch (err) {
            alert('This bet has already been placed. You can accept it by clicking on it.')
            return false
          }
        });

        $('#placebet2').submit(function(){
          if ($("#acceptamount").val() < 1)
          {
            alert("You can't place that bet.")
            return false
          }
          if ($('#wager2').val() == "Loading...")
          {
            alert("You can't place a bet yet.")
            return false
          }
          if ($("#acceptamount").val() > myBalance)
          {
            alert("You don't have enough money to place this bet.")
            return false
          }
          map_amounts[$('#beteventaccept').val()] = $("#acceptamount").val()
          socket.emit('place pending bet', $('#beteventaccept').val(), $('#wager2').val(), username, server, matchid, $("#acceptamount").val(), true);
          $("#pendingamount"+$('#beteventaccept').val()).removeClass("badge-danger").addClass("badge-primary");
          $("#pendingamount"+$('#beteventaccept').val()).html("$"+$("#acceptamount").val());
          $("#pending"+$('#beteventaccept').val()).prop('onclick',null).off('click');
          $("#pending"+$('#beteventaccept').val()).css('cursor', 'default');

          // remove from local options
          //$('#betevent'+$('#eventid2').val()).prop('disabled', true);
          modal.style.display = "none";
          return false;
        });

        // handle players on load
        if ("<%= players %>".length == 0)
          var p_players = [];
        else
          var p_players = "<%= players %>".split(",");
        // handle balances on load
        "<%= balances %>".replace(/&#34;/g, '').replace(/}/g, '').replace(/{/g, '').split(",").forEach(function(el){ el=el.split(":"); p_balances[el[0]]=el[1]; })
        for (var i = 0, n = p_players.length; i < n; i++)
        {
          $("#balances_list").append('<li class="list-group-item d-flex justify-content-between align-items-center" id="'+p_players[i]+'" style="padding-top:2px;padding-bottom:2px;padding-right:5px;color:black;border-radius:0;">'+p_players[i]+'<right><span class="badge badge-success badge-pill" id="balance'+p_players[i]+'" style="margin:0;font-size:8pt;padding-top:2px;margin-bottom:25%;border-radius:0;height:100%;font-family:sans-serif;">$'+parseFloat(p_balances[p_players[i]])+'</span></right></li>')
        }

        // handle commentary on load
        if ("<%= commentary %>".length == 0)
          var p_commentary = [];
        else
          var p_commentary = "<%= commentary %>".split(",");
        for (var i = 0, n = p_commentary.length; i < n; i++)
        {
          var comment = p_commentary[i].split("!:!") // 0 = minute, 1 = event, 2 = team
          $("#livecommentaryheader").remove();
          $("#livecommentarytable").prepend('<tr><td style="width:15%;">'+comment[0]+'\'</td><td style="width:85%;">'+map_events[comment[1]]+' '+prepositions[comment[1]]+' '+comment[2]+'</td></tr>');          
          $("#livecommentarytable").prepend('<tr id="livecommentaryheader"><td></td><td><h6>Live commentary</h6><br></td></tr>');          
        }
        
        
      });
    </script>

    <div class="container" style="font-family:'Jura';color:white;padding:20px;">

        <center><form id="login_form"><font style="font-size:20pt;">Log in</font><br><br>
          <input type="text" id="login" placeholder="username" class="form-control" style="width:225px;" />
          <input type="password" id="p_login" placeholder="password" class="form-control" style="width:225px;margin-top:5px;" /><br>
          <button type="submit" style="border:0;height:35px;cursor:pointer;" />Play!</button></form>
          <form id="upload_keys"><br><br>
            <font style="font-size:16pt;">or</font><br><br>
          <font style="font-size:20pt;">Upload private keys</font>
          <br><br>
          <input type="file" id="private_keys" accept="txt" style="margin-left:110px;" /><br>
          <input type="password" id="p_login2" class="form-control" placeholder="password" style="width:225px;margin-top:5px;" /><br>
          <button type="submit" style="border:0;height:35px;cursor:pointer;" />Play!</button></form>
        </center>

<div id="playingarea" style="display:none;">
<center>
<table id="maintable" style="width:100%;">
<tr>
  <td style="width:30%;vertical-align:top;"></td>
  <td style="width:30%;vertical-align:top;">
        <center><p style="font-size:8pt;" id="your_address"></p></center>
        <br>
        <center>
          <h6>Players online</h6>
          <ul class="list-group" style="width:300px;font-size:13pt;border-radius:0;" id="balances_list">

          </ul>
        </center>

        <br>
        <br>
      </td>
      <td style="width:30%;vertical-align:top;"></td>
      </tr>
  <tr>
      <td style="width:30%;vertical-align:top;"> 
          <center>
              <table align="left" style="width:100%;" id="livecommentarytable">
                <tr id="livecommentaryheader"><td></td><td><h6>Live commentary</h6><br></td></tr>
              </table>
            </center>
        </td>

    <td style="width:30%;vertical-align:top;">
      <center>
        <h6>Active bets</h6>
        <ul class="list-group" style="width:300px;font-size:13pt;border-radius:0;" id="activebets">

        </ul>
      </center>

      <br>

      <center>
          <h6>Pending bets</h6>
            <ul class="list-group" style="width:300px;font-size:13pt;border-radius:0;" id="pendingbets">

            </ul>
      </center>

      <br>

      <center>
        <form id="placebet">
          <h6>Place a new bet</h6>
          <select id="eventid">
            <option id="betevent2" value="2">Next goal by</option>
            <option id="betevent4" value="4">Next corner for</option>
            <option id="betevent3" value="3">Next foul by</option>
            <option id="betevent6" value="6">Next offside by</option>
            <option id="betevent1" value="1">Next attempt missed by</option>
            <option id="betevent10" value="10">Next hand ball by</option>
            <option id="betevent8" value="8">Next yellow card by</option>
            <option id="betevent9" value="9">Next red card by</option>
            <option id="betevent5" value="5">Next penalty against</option>
          </select>
          <select id="wager">
            <option id="hometeamoption" value="Loading...">Loading...</option>
            <option id="awayteamoption" value="Loading...">Loading...</option>
          </select>
          <br>
          $ <input type="number" style="margin-top:10px;margin-bottom:10px;font-size:10pt;width:35px;font-family: sans-serif;" placeholder="10" value="10" id="amount" />
          <br>
          <button type="submit" form="placebet" style="border-color:#5bba5c;border:0;font-size:13pt;color:black;cursor: pointer;" />Place!</button>
        </form>
      </center>
    </td>
    <td style="width:30%;vertical-align:top;">
        <center>
            <h6>Live chat</h6>
            <form id="chatform" style="margin-top:10px;">
              <div id="chatfield" style="width:250px;background-color:#1a1c1a;font-family:sans-serif;padding:5px;height:200px;overflow:auto;margin:0;color:white;" align="left">
                  <p style="color:white;font-size:10pt;margin:0;padding:0;"><font color="#5bba5c">ULTIBET:</font> Welcome to live betting!</p>
                  <p style="color:white;font-size:10pt;margin:0;padding:0;"><font color="#5bba5c">ULTIBET:</font> To start betting, simply place a new bet. You can also accept pending bets from other players.</p>
                  <p style="color:white;font-size:10pt;margin:0;padding:0;"><font color="#5bba5c">ULTIBET:</font> When a pending bet is accepted by enough players, it becomes active.</p>
                  <p style="color:white;font-size:10pt;margin:0;padding:0;"><font color="#5bba5c">ULTIBET:</font> Active bets are paid out as soon as the event occurs in the match!</p>
              </div>
              <input type="text" id="chatinput" style="border-radius:0;background-color:white;width:250px;height:25px;margin:0;font-size:10pt;font-family:sans-serif;" placeholder="Send a message..." autocomplete="off" />
              <input type="submit" style="display:none;" />
            </form>

            <br>

            <h6>Event history</h6>
            <br>
            <div id="payouthistory" align="left" style="max-width:200px;font-size:13px;">

            </div>
          </center>
    </td>
  </tr>
</table>
</center>
</div>

<!-- The Modal -->
<div id="modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content2" style="color:black;">
      <span class="close">&times;</span>
      <center>
      <form id="placebet2">
          <h6>Accept bet</h6>
          <select id="eventid2">
            <option id="beteventaccept" value="2" disabled>Next goal by</option>
          </select>
          <select id="wager2">
            <option id="hometeamoption2" value="Loading...">Loading...</option>
            <option id="awayteamoption2" value="Loading...">Loading...</option>
          </select>
          <br>
          $ <input type="number" id="acceptamount" style="margin-top:10px;margin-bottom:10px;font-size:10pt;width:35px;font-family: sans-serif;" placeholder="" />
          <br>
          <button type="submit" form="placebet2" style="border-color:#5bba5c;border:0;font-size:13pt;color:black;cursor: pointer;" />Place!</button>
        </form>
      </center>
    </div>
  
  </div>  

  <div id="betoverview" class="modal">

    <!-- Modal content -->
    <div class="modal-content2" style="color:black;">
      <span class="close">&times;</span>
      <center>
        <h6 id="betoverviewname"></h6>
        <span id="betoverviewamount"></span>
        <br>
        <div id="betoverviewplayers">

        </div>
      </center>
    </div>
  
  </div>
  
  <div id="passwordprompt" class="modal">

      <!-- Modal content -->
      <div class="modal-content2" style="color:black;">
        <center>
          <h6>Private room connection</h6>
          <form id="passwordprompt_form">
            <input type="password" placeholder="password" id="room_password" /><br><br>
            <button type="submit" style="border-color:#5bba5c;border:0;font-size:13pt;color:black;cursor: pointer;" />Enter</button>
          </form>
        </center>
      </div>
    
    </div>

    </div>
    
    <footer style="margin:15px;padding-left:50px;color:white;">
        Copyright &copy; 2018 ULTI.BET &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <a href="mailto:vojta@vojtadrmota.com" class="no_hover" style="color:white;">Contact Us</a>
      </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>