<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Betpeers Live Betting</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link href="styles.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="padding-top:0;background-color:#1a1c1a">
    <div style="width:100%;padding-bottom:25px;padding-top:25px;background-color: #5bba5c;font-size:35pt;" align="center"><p style="margin:0;padding:0;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Spain 3 - 0 Portugal</p><p style="font-size:12pt;margin:0;padding:0;">54'</p></div>
      
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

    <script>
      $(function () {
        var username = ""
        var server = "<%= server %>"
        var matchid = "<%= matchid %>"
        var socket = io();
        socket.on('receive pending bet', function(eventid, amount) {
          $('#pendingbets').append("Bet is pending for event "+eventid+" amount "+amount+"");
        });

        socket.on('receive address', function(address){
          $("#your_address").html("Your address: "+address);
        })

        socket.on('receive login user', function(username){
          $("#balances_list").append('<li class="list-group-item d-flex justify-content-between align-items-center" id="'+username+'" style="padding-top:2px;padding-bottom:2px;padding-right:5px;">'+username+'<right><span class="badge badge-success badge-pill" id="balance'+username+'" style="margin:0;font-size:7pt;padding-top:3px;"><%= coinbase %></span></right></li>')
        })

        socket.on('receive balances', function(balance, player) {

            if ($("#" + player).length == 0)
            {
              $("#balances_list").append('<li class="list-group-item d-flex justify-content-between align-items-center" id="'+player+'" style="padding-top:2px;padding-bottom:2px;padding-right:5px;">'+player+'<right><span class="badge badge-success badge-pill" id="balance'+player+'" style="margin:0;font-size:7pt;padding-top:3px;">'+balance+'</span></right></li>');
            }
            else
            {
              $("#balance"+player).html(balance);
            }
          
        })

        socket.on('receive timer', function(minute, score, home, away) {
          $('#matchminute').html(minute+"'")
          $('#matchscore').html(score)
          $('#awayteam').html(home)
          $('#hometeam').html(away)
        })

        $('#login_form').submit(function(){
          username = $("#login").val();
          $("#login").value = username;
          $("#login_form").append(username)
          socket.emit('login user', username, server)
          return false;
        });

        $('#placebet').submit(function(){
          socket.emit('place pending bet', $('#eventid').val(), $('#wager').val(), username, server, matchid, $('#amount').val());
          $('#pendingbets').append("Bet is pending for event "+$('#eventid').val()+" amount "+$('#amount').val())
          return false;
        });

        // handle players on load
        if ("<%= players %>".length == 0)
        {
          var p_players = [];
        }
        else
        {
          var p_players = "<%= players %>".split(",");
        }
        for (var i = 0, n = p_players.length; i < n; i++)
        {
          $("#balances_list").append('<li class="list-group-item d-flex justify-content-between align-items-center" id="'+p_players[i]+'" style="padding-top:2px;padding-bottom:2px;padding-right:5px;">'+p_players[i]+'<right><span class="badge badge-success badge-pill" id="balance'+p_players[i]+'" style="margin:0;font-size:7pt;padding-top:3px;"><%= coinbase %></span></right></li>')
        }
      });
    </script>

    <div class="container">

      <center>Log in: <form id="login_form"><input type="text" id="login" /><input type="submit" /></form></center>
      <center><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="hometeam">Spain</span> <span id="matchscore">2 - 3</span> <span id="awayteam">Portugal</span></b></center>
      <center><p style="font-size:8pt" id="matchminute">0'</p></center>

      <center><p style="font-size:7pt;" id="your_address">Your address: </p></center>

      <script>
        // iterate through existing players
        // add new players when they login 
      </script>

      <center>
        <ul class="list-group" style="width:175px;font-size:9pt;" id="balances_list">
          
        </ul>
      </center>

      <br>

      <center>
        <form id="placebet">
        <h7>Place a new bet</h7>
        <br>
        <select id="eventid">
          <option value="1">Attempt missed by</option>
          <option value="2">Goal by</option>
          <option value="4">Corner for</option>
          <option value="10">Hand ball by</option>
          <option value="8">Yellow card by</option>
          <option value="9">Red card by</option>
          <option value="6">Offside by</option>
          <option value="5">Penalty conceded by</option>
          <option value="3">Foul by</option>
        </select>
        <br>
        <select id="wager">
          <option value="Poland">Poland</option>
          <option value="Lithuania">Lithuania</option>
        </select>
        <br>
        <input type="number" id="amount" />
        <br>
        <button type="submit" class="btn btn-primary btn-sm">Place</button>
        </form>
      </center>

      <br>

      <center>
        <div id="pendingbets">

        </div>
      </center>


    </div><!-- /.container -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

