<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Betpeers Live Betting</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link href="styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
    <style type="text/css">
      ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    black;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    black;
      opacity:  1;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    black;
      opacity:  1;
      }
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color:    black;
      }
      ::-ms-input-placeholder { /* Microsoft Edge */
      color:    black;
      }

      ::placeholder { /* Most modern browsers support this now. */
      color:    black;
      }

      .hoverable:hover {
        background-color: #fcffc1;
      }

      option {
        font-family: 'Jura';
      }

      h6 {
        font-size:19pt;
      }

      /* The Modal (background) */
      .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 2; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }

      /* Modal Content */
      .modal-content {
          background-color: #fefefe;
          margin: auto;
          padding: 20px;
          border: 1px solid #888;
          width: 48%;
      }

      /* The Close Button */
      .close {
          color: #aaaaaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
      }

      .close:hover,
      .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
      }

      .no-underline {
        text-decoration: none;
      }

      .no-underline:hover {
        text-decoration: none;
      }
    </style>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="padding-top:0;background-color:#1a1c1a;font-family:'Jura';">
    <div style="width:100%;font-size:30pt;padding-left:100px;"> <a href="/" class="no-underline"><font color="#5bba5c">BET</font><font color="white">CAFÉ</font></div></a>
    <script>
      function isPhone() {
          return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)
      }
      
      if (!isPhone())
      {
        document.write('<div style="width:100%;padding-bottom:25px;padding-top:25px;background-color: #5bba5c;font-size:23pt;font-weight:bold;position:sticky;position: -webkit-sticky;top: 0;z-index:1;min-height:140px;" align="center">');
      }
      else
      {
        document.write('<div style="width:100%;padding-bottom:25px;padding-top:25px;background-color: #5bba5c;font-size:23pt;font-weight:bold;z-index:1;min-height:140px;" align="center">');
      }
        
      if (!isPhone())
      {
        document.write('<a href="/"><img src="/logo3.png" width="100" height="100" style="left:120px;position:absolute;" /></a>');
      }
      </script>
      <p style="margin:0;padding:0;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="hometeam"></span> <span id="vs" style="display:none;">vs.</span> <span id="awayteam"></span></p><p style="margin:0;padding:0;"><span id="matchscore" style="font-size:16pt;"></span></p><p style="font-size:10pt;margin:0;padding:0;" id="matchminute">Waiting for login...</p></div>
      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

    <script>
      var latestAmount = 0 
      var map_events = [
        "Nothing",
        "Attempt missed",
        "Goal",
        "Foul",
        "Corner",
        "Penalty",
        "Offside",
        "Substitution",
        "Yellow card",
        "Red card",
        "Hand ball"
        ];
        var prepositions = [
          "Nothing",
          "by",
          "by",
          "by",
          "for",
          "against",
          "by",
          "by",
          "for",
          "for",
          "by"
        ];

        function modalf(eventid,amount) {
            modal.style.display = "block";
            $("#beteventaccept").val(eventid)
            $("#eventid2").val(eventid)
            $("#acceptamount").val(parseInt(amount))
            latestAmount = amount
            $("#beteventaccept").html("Next "+map_events[eventid].toLowerCase()+" "+prepositions[eventid])
        }

      $(function () {
        var modal = document.getElementById('modal');
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        function updateScroll(){
          var d = $('#chatfield');
          d.scrollTop(d.prop("scrollHeight"));
        }
        var username = ""
        var p_balances = {}
        var server = "<%= server %>"
        var matchid = "<%= matchid %>"
        var myBalance = parseInt("<%= coinbase %>")
        var socket = io();
        socket.on('receive pending bet', function(eventid, amount, i_username) {
          if (i_username != username)
          {
            $('#pendingbets').append('<li class="list-group-item d-flex justify-content-between align-items-center hoverable" onclick="modalf('+eventid+','+amount+')" id="pending'+eventid+'" style="padding-top:2px;padding-bottom:2px;padding-right:5px;color:black;border-radius:0;cursor:pointer;">Next '+map_events[eventid].toLowerCase()+'<right><span id="pendingtime'+eventid+'" style="padding-top:2px;font-size:9pt;color:red;"></span> <span class="badge badge-danger badge-pill" id="pendingamount'+eventid+'" style="margin:0;font-size:8pt;padding-top:2px;margin-bottom:25%;border-radius:0;height:100%;font-family:sans-serif;">$'+amount+'</span></right></li>');
            $('#betevent'+eventid).prop('disabled', true);
          }
        });

        socket.on('receive address', function(address){
          $("#your_address").html('<font style="font-size:9pt;">'+username+'</font><br>'+address);
        })

        socket.on('receive active bet', function(eventid, amount){
          $('#betevent'+eventid).prop('disabled', true);
          $("#activebets").append('<li class="list-group-item d-flex justify-content-between align-items-center" id="active'+eventid+'" style="padding-top:2px;padding-bottom:2px;padding-right:5px;color:black;border-radius:0;">Next '+map_events[eventid].toLowerCase()+'<right><span class="badge badge-primary badge-pill" style="margin:0;font-size:8pt;padding-top:2px;margin-bottom:25%;border-radius:0;height:100%;font-family:sans-serif;">$'+amount+'</span></right></li>');
       })

        socket.on('delete pending bet', function(eventid){
          $("#pending"+eventid).remove();
          $('#betevent'+eventid).prop('disabled', false);
        })

        socket.on('delete pending bet timer', function(eventid, username, amount){
          var new_amount = parseFloat(amount) + parseFloat($('#balance'+username).html().replace(/\$/g, ""))
          $('#balance'+username).html('$'+new_amount)
          $("#pending"+eventid).remove();
          $('#betevent'+eventid).prop('disabled', false);
        })

        socket.on('receive live commentary', function(minute, eventid, team){
          $("#livecommentaryheader").remove();
          $("#livecommentarytable").prepend('<tr><td style="width:15%;">'+minute+'\'</td><td style="width:85%;">'+map_events[eventid]+' '+prepositions[eventid]+' '+team+'</td></tr>');          
          $("#livecommentarytable").prepend('<tr id="livecommentaryheader"><td></td><td><h6>Live commentary</h6><br></td></tr>');          
        })

        socket.on('delete active bet', function(eventid){
          $("#active"+eventid).remove();
          $('#betevent'+eventid).prop('disabled', false);
        })

        socket.on('receive new chat', function(username, message){
          $("#chatfield").append('<p style="color:white;font-size:10pt;margin:0;padding:0;"><font color="#5bba5c">'+username+':</font> '+message+'</p>');
          updateScroll()
        })

        socket.on('receive login user', function(i_username){
          $("#balances_list").append('<li class="list-group-item d-flex justify-content-between align-items-center" id="'+i_username+'" style="padding-top:2px;padding-bottom:2px;padding-right:5px;color:black;border-radius:0;">'+i_username+'<right><span class="badge badge-success badge-pill" id="balance'+i_username+'" style="margin:0;font-size:8pt;padding-top:2px;margin-bottom:25%;border-radius:0;height:100%;font-family:sans-serif;">$<%= coinbase %></span></right></li>')
        })

        socket.on('receive balances', function(balance, player) {
            if (player == username)
              myBalance = balance
            if ($("#" + player).length == 0)
            {
              $("#balances_list").append('<li class="list-group-item d-flex justify-content-between align-items-center" id="'+player+'" style="padding-top:2px;padding-bottom:2px;padding-right:5px;color:black;border-radius:0;">'+player+'<right><span class="badge badge-success badge-pill" id="balance'+player+'" style="margin:0;font-size:8pt;padding-top:2px;margin-bottom:25%;border-radius:0;height:100%;font-family:sans-serif;">$'+balance+'</span></right></li>');
            }
            else
            {
              $("#balance"+player).html('$'+balance);
            }
          
        })

        socket.on('receive timer', function(minute, score, home, away, homeflag, awayflag) {
          $('#matchminute').html(minute+"'")
          $('#matchscore').html(score)
          homeflag ? $('#hometeam').html('<img src="'+homeflag+'" width="55" height="55" />&nbsp;&nbsp;&nbsp;'+home) : $('#hometeam').html(home)
          awayflag ? $('#awayteam').html(away+'&nbsp;&nbsp;&nbsp;<img src="'+awayflag+'" width="55" height="55" />') : $('#awayteam').html(away)
          $("#vs").show()
          $('#hometeamoption').val(home)
          $('#hometeamoption').html(home)
          $('#awayteamoption').val(away)
          $('#awayteamoption').html(away)
          $('#hometeamoption2').val(home)
          $('#hometeamoption2').html(home)
          $('#awayteamoption2').val(away)
          $('#awayteamoption2').html(away)
        })

        socket.on('tick', function(eventid, timeRemaining) {
          $("#pendingtime"+eventid).html(timeRemaining)
        })

        $('#login_form').submit(function(){
          username = $("#login").val();
          socket.emit('ask login', username)
          return false;
        });

        socket.on('login approved', function() {
          $("#login_form").html(server)
          $("#login_form").css("font-size", "30pt")
          $("#playingarea").show()
          $("#matchminute").html("Loading...")
          socket.emit('login user', username, server)
        })

        socket.on('error message', function(message, type) {
          alert(message)
          if (type == "login")
          {
            location.reload()
          }
        })

        $('#chatform').submit(function(){
          socket.emit('new chat', username, server, $("#chatinput").val())
          $("#chatinput").val("")
          return false;
        });

        $('#placebet').submit(function(){
          try {
          if ($('#betevent'+$('#eventid').val()).is('[disabled]'))
          {
            alert("This bet is already pending. You can accept it by clicking on it.")
            return false
          }
          if ($('#amount').val() < 1)
          {
            alert("You can't place that bet.")
            return false
          }
          if ($('#wager').val() == "Loading...")
          {
            alert("You can't place a bet yet.")
            return false
          }
          if ($('#amount').val() > myBalance)
          {
            alert("You don't have enough money to place this bet.")
            return false
          }
          if ($("#pending" + $('#eventid').val()).length == 0)
          {
            socket.emit('place pending bet', $('#eventid').val(), $('#wager').val(), username, server, matchid, $('#amount').val(), false);
            $('#pendingbets').append('<li class="list-group-item d-flex justify-content-between align-items-center" id="pending'+$('#eventid').val()+'" style="padding-top:2px;padding-bottom:2px;padding-right:5px;color:black;border-radius:0;">Next '+map_events[$('#eventid').val()].toLowerCase()+'<right><span id="pendingtime'+$('#eventid').val()+'" style="padding-top:2px;font-size:9pt;color:red;"></span> <span id="pendingamount'+$('#eventid').val()+'" class="badge badge-primary badge-pill" style="margin:0;font-size:8pt;padding-top:2px;margin-bottom:25%;border-radius:0;height:100%;font-family:sans-serif;">$'+$('#amount').val()+'</span></right></li>');
          }
          else
          {
            socket.emit('place pending bet', $('#eventid').val(), $('#wager').val(), username, server, matchid, $('#amount').val(), true);
            $("#pendingamount"+$('#eventid').val()).removeClass("badge-danger").addClass("badge-primary");
          }
          // remove from local options
          $('#betevent'+$('#eventid').val()).prop('disabled', true);
          return false;
          } catch (err) {
            alert('This bet has already been placed. You can accept it by clicking on it.')
            return false
          }
        });

        $('#placebet2').submit(function(){
          if (latestAmount < 1)
          {
            alert("You can't place that bet.")
            return false
          }
          if ($('#wager2').val() == "Loading...")
          {
            alert("You can't place a bet yet.")
            return false
          }
          if (latestAmount > myBalance)
          {
            alert("You don't have enough money to place this bet.")
            return false
          }
          socket.emit('place pending bet', $('#beteventaccept').val(), $('#wager2').val(), username, server, matchid, latestAmount, true);
          $("#pendingamount"+$('#beteventaccept').val()).removeClass("badge-danger").addClass("badge-primary");
          $("#pending"+$('#beteventaccept').val()).prop('onclick',null).off('click');
          $("#pending"+$('#beteventaccept').val()).css('cursor', 'default');

          // remove from local options
          //$('#betevent'+$('#eventid2').val()).prop('disabled', true);
          modal.style.display = "none";
          return false;
        });

        // handle players on load
        if ("<%= players %>".length == 0)
          var p_players = [];
        else
          var p_players = "<%= players %>".split(",");
        // handle balances on load
        "<%= balances %>".replace(/&#34;/g, '').replace(/}/g, '').replace(/{/g, '').split(",").forEach(function(el){ el=el.split(":"); p_balances[el[0]]=el[1]; })
        for (var i = 0, n = p_players.length; i < n; i++)
        {
          $("#balances_list").append('<li class="list-group-item d-flex justify-content-between align-items-center" id="'+p_players[i]+'" style="padding-top:2px;padding-bottom:2px;padding-right:5px;color:black;border-radius:0;">'+p_players[i]+'<right><span class="badge badge-success badge-pill" id="balance'+p_players[i]+'" style="margin:0;font-size:8pt;padding-top:2px;margin-bottom:25%;border-radius:0;height:100%;font-family:sans-serif;">$'+p_balances[p_players[i]]+'</span></right></li>')
        }

        // handle commentary on load
        if ("<%= commentary %>".length == 0)
          var p_commentary = [];
        else
          var p_commentary = "<%= commentary %>".split(",");
        for (var i = 0, n = p_commentary.length; i < n; i++)
        {
          var comment = p_commentary[i].split("!:!") // 0 = minute, 1 = event, 2 = team
          $("#livecommentaryheader").remove();
          $("#livecommentarytable").prepend('<tr><td style="width:15%;">'+comment[0]+'\'</td><td style="width:85%;">'+map_events[comment[1]]+' '+prepositions[comment[1]]+' '+comment[2]+'</td></tr>');          
          $("#livecommentarytable").prepend('<tr id="livecommentaryheader"><td></td><td><h6>Live commentary</h6><br></td></tr>');          
        }
        
        
      });
    </script>

    <div class="container" style="font-family:'Jura';color:white;padding:20px;">

        <center><form id="login_form">Log in: &nbsp;<input type="text" id="login" placeholder="username" style="padding:2px;padding-left:5px;height:35px;" /> <button type="submit" style="background-color:#5bba5c;border-color:#5bba5c;border:0;height:35px;" />Play!</button></form></center>

<div id="playingarea" style="display:none;">
<center>
<table style="width:100%;">
<tr>
  <td style="width:30%;vertical-align:top;"></td>
  <td style="width:30%;vertical-align:top;">
        <center><p style="font-size:8pt;" id="your_address"></p></center>
        <br>
        <center>
          <h6>Players online</h6>
          <ul class="list-group" style="width:300px;font-size:13pt;border-radius:0;" id="balances_list">

          </ul>
        </center>

        <br>
        <br>
      </td>
      <td style="width:30%;vertical-align:top;"></td>
      </tr>
  <tr>
      <td style="width:30%;vertical-align:top;"> 
          <center>
              <table align="left" style="width:100%;" id="livecommentarytable">
                <tr id="livecommentaryheader"><td></td><td><h6>Live commentary</h6><br></td></tr>
              </table>
            </center>
        </td>

    <td style="width:30%;vertical-align:top;">
      <center>
        <h6>Active bets</h6>
        <ul class="list-group" style="width:300px;font-size:13pt;border-radius:0;" id="activebets">

        </ul>
      </center>

      <br>

      <center>
          <h6>Pending bets</h6>
            <ul class="list-group" style="width:300px;font-size:13pt;border-radius:0;" id="pendingbets">

            </ul>
      </center>

      <br>

      <center>
        <form id="placebet">
          <h6>Place a new bet</h6>
          <select id="eventid">
            <option id="betevent2" value="2">Next goal by</option>
            <option id="betevent4" value="4">Next corner for</option>
            <option id="betevent3" value="3">Next foul by</option>
            <option id="betevent6" value="6">Next offside by</option>
            <option id="betevent1" value="1">Next attempt missed by</option>
            <option id="betevent10" value="10">Next hand ball by</option>
            <option id="betevent8" value="8">Next yellow card by</option>
            <option id="betevent9" value="9">Next red card by</option>
            <option id="betevent5" value="5">Next penalty against</option>
          </select>
          <select id="wager">
            <option id="hometeamoption" value="Loading...">Loading...</option>
            <option id="awayteamoption" value="Loading...">Loading...</option>
          </select>
          <br>
          $ <input type="number" style="margin-top:10px;margin-bottom:10px;font-size:10pt;width:35px;font-family: sans-serif;" placeholder="0" id="amount" />
          <br>
          <button type="submit" form="placebet" style="background-color:#5bba5c;border-color:#5bba5c;border:0;font-size:13pt;color:black;cursor: pointer;" />Place!</button>
        </form>
      </center>
    </td>
    <td style="width:30%;vertical-align:top;">
        <center>
            <h6>Live chat</h6>
            <form id="chatform" style="margin-top:10px;">
              <div id="chatfield" style="width:250px;background-color:#1a1c1a;font-family:sans-serif;padding:5px;height:200px;overflow:auto;margin:0;color:white;" align="left">
                  <p style="color:white;font-size:10pt;margin:0;padding:0;"><font color="#5bba5c">Betcafé:</font> Welcome to live betting!</p>
                  <p style="color:white;font-size:10pt;margin:0;padding:0;"><font color="#5bba5c">Betcafé:</font> To start betting, simply place a new bet. You can also accept pending bets from other players.</p>
                  <p style="color:white;font-size:10pt;margin:0;padding:0;"><font color="#5bba5c">Betcafé:</font> When a pending bet is accepted by everyone, it becomes active.</p>
                  <p style="color:white;font-size:10pt;margin:0;padding:0;"><font color="#5bba5c">Betcafé:</font> Active bets are paid out as soon as the event occurs in the match!</p>
              </div>
              <input type="text" id="chatinput" style="border-radius:0;background-color:white;width:250px;height:25px;margin:0;font-size:10pt;font-family:sans-serif;" placeholder="Send a message..." autocomplete="off" />
              <input type="submit" style="display:none;" />
            </form>
          </center>
    </td>
  </tr>
</table>
</center>
</div>

<!-- The Modal -->
<div id="modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content" style="color:black;">
      <span class="close">&times;</span>
      <center>
      <form id="placebet2">
          <h6>Accept bet</h6>
          <select id="eventid2">
            <option id="beteventaccept" value="2" disabled>Next goal by</option>
          </select>
          <select id="wager2">
            <option id="hometeamoption2" value="Loading...">Loading...</option>
            <option id="awayteamoption2" value="Loading...">Loading...</option>
          </select>
          <br>
          $ <input type="number" id="acceptamount" style="margin-top:10px;margin-bottom:10px;font-size:10pt;width:35px;font-family: sans-serif;" placeholder="0" id="amount" disabled/>
          <br>
          <button type="submit" form="placebet2" style="background-color:#5bba5c;border-color:#5bba5c;border:0;font-size:13pt;color:black;cursor: pointer;" />Place!</button>
        </form>
      </center>
    </div>
  
  </div>  

    </div><!-- /.container -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

